*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f2f2f2;
}

html{
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
  width: 100%;
  height : 100vh ;
  background-image: url(original1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul{
  display: flex;
  gap: 3rem;
  padding: 2rem 5rem;
}

.navbar ul li{
  list-style: none;
  font-size: 1.9rem;
  text-transform: uppercase;
}

ul li a{
  text-decoration: none;
}

.side_icon{
  width: 1%;
  height: 60%;
  margin: 0rem 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 120px;
}

.side_icon .line{
  border: 1px solid #f2f2f2;
  height: 30%;
}

.side_icon .icon{
  display: flex;
  flex-direction: column;
  height: 24%;
  font-size: 2.5rem;
}

.side_icon .icon i{
  padding: 0.2rem 0rem;
}

.flow-handing{
  position: absolute;
  right: 100px;
  top: 130px;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  display: flex;
}

.flow-handing h1{
  font-size: 11rem;
  letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(original1.jpg);
  background-repeat: repeat;
  -webkit-background-clip : text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.happiness{
  position: absolute;
  bottom: 12rem;
  left: 50rem;
}

.happiness h3{
  font-family: sans-serif;
  font-size: 4rem;
  line-height: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.happiness button{
  margin: 1rem 0rem;
  background-color: transparent;
  border: 2px solid #f3ebeb;
  padding: .8rem 2rem;
}

